/* styles body */
.landing-page {
  height: 100vh;
    /* overflow must be added in combination with .grid-frame to add padding&margin */
    /* overflow: hidden; */
  font-family: 'Didact Gothic', sans-serif;
  background-image: url("../Images/charlotte-4k-nightscapes-north-carolina-usa.smaller.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: black;
  }
  
  /* styles header */
  header {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 5px;
  }
  
  /* styles the header text */
  #intown {
  font-family: 'Neucha', cursive;
  margin-bottom: 0;
  color: white;
  }
  
  /* styles containers holding body content */
  .container {
  height: 100%;
  }
  
  /* styles description text in left cell */
  #tagline {
  color: white;
  width: 80%;
  margin: 45px auto 35px auto;
  padding: 15px;
  font-size: 1.75rem;
  line-height: 1.4;
  text-align: center;
  }
  
  /* styles Search div in right cell */
  #searchbox {
  background-color: white;
  padding: 25px;
  width: 80%;
  margin: 10px auto;
  }
  
  /* styles "Start Exploring" text */
  #start-exploring {
  font-family: 'Neucha', cursive;
  margin-bottom: 10px;
  }
  
  /* styles "Select a Neighborhood:" text */
  label {
  font-size: 1rem;
  margin-bottom: 1rem;
  }
  
  /* styles neighborhood select menu */
  select {
  width: auto;
  }
  
  /* styles search button */
  #submit-btn {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  color: white;
  background-color: gray;
  border: 1px solid grey;
  } #submit-btn:hover {
  color: black;
  background-color: white;
  }