/* styles index.html body element */
.landing-page {
  height: 100vh;
  font-family: "Didact Gothic", sans-serif;
  background-image: url("../Images/charlotte-4k-nightscapes-north-carolina-usa.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: black;
}

/* styles header */
header {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 5px;
}

/* styles the header text */
#intown {
  font-family: "Neucha", cursive;
  margin-bottom: 0;
  color: white;
}

/* styles header anchor tags */
header a {
  font-family: "Neucha", cursive;
  color: white;
} a:hover {
  color: white;
}

/* styles containers holding body content */
.container {
  height: 100%;
}

/* styles description text in left cell */
#tagline {
  color: white;
  width: 75%;
  margin: 0 auto;
  padding: 15px;
  font-size: 2.5rem;
  line-height: 1.4;
}

/* styles Search div in right cell */
#searchbox {
  background-color: white;
  padding: 25px;
  width: 65%;
  margin: 0 auto;
}

i #fas {
  padding: 5px;
}

/* styles text inside Description section */
#description-text {
  padding: 10px;
  margin-bottom: .5rem;
}

/* styles the div holding the description */
#description {
  margin-bottom: 0;
}

/* styles "Start Exploring" text */
#start-exploring {
  font-family: "Neucha", cursive;
  margin-bottom: 10px;
}

/* styles "Select a Neighborhood:" text */
label {
  font-size: 1rem;
  margin-bottom: 1rem;
}

/* styles neighborhood select menu */
select {
  width: auto;
}

/* styles search button */
#submit-btn {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  color: white;
  background-color: gray;
  border: 1px solid gray;
}
#submit-btn:hover {
  color: black;
  background-color: white;
}

/**************** results.html styling *******************/


.results-page {
  font-family: "Didact Gothic", sans-serif;
}

#results-header {
  background-color: black;
}

.searchCritera {
  width: 15%;
  float: left;
  height: 100%;
  padding: 15px;
  overflow: auto;
}

legend {
  text-align: center;
}

#map {
  height: 50vh;
  margin-left: 15%;
}
.cardContainer {
  transition: 0.3s;
  width: 100%;
  display: flex;
  flex-direction: row;
  bottom: 0;
  height: 45%;
  color: black;
}

.card-heading {
  font-family: "Neucha", cursive;
}

.cardImg {
  height: 2rem;
}

.card {
  width: 100%;
  height: 100%;
  margin: 0px 5px 5px 5px;
  padding: 5px 15px;
  transition: 0.3s;
  overflow: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid gray;
}

.card-section {
  padding: 1rem 1rem 1rem .5rem;
}

.card-divider {
  text-align: center;
  background-color: gray;
  color: white;
  margin-top: 5px;
  padding: .75rem;
}

/* aligns list items text with itself instead of to the bullet point */
ul {
  list-style-position: outside;
}

/* styles anchor tags inside Events card */
#events-list a {
  color: black;
} #events-list a:hover {
  font-weight: bold;
}


/******************** setting media query rules for the cards on phones **********************/
@media screen and (max-width: 700px) {
.cardContainer {
  font-size: 1rem;
  flex-direction: column;
  display: flex; 
}
.card {
  width: 100%;
  margin: 2px 0px;
}
.card-divider {
  text-align: left;
  float: left;
}
}

/********************** media query for the search critera *************************/
@media screen and (max-width: 1100px) {
  .legend {
    text-align: left;
    padding: 0%;
  }
  .searchCritera {
    float: none;
    width: 100%;
    height: 20vh;
    text-align: center;
    padding: 5px;

  }
  #map {
    margin-left: 0%;
  }
  .cb {
    display: inline-block;
    text-align: left;
  }
}

/********************** media query for index.html *************************/
@media screen and (max-width: 900px) {
  /* styles body */
.landing-page {
  height: 100vh;
  font-family: 'Didact Gothic', sans-serif;
  background-image: url("../Images/charlotte-4k-nightscapes-north-carolina-usa.smaller.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: black;
  }
  
  /* styles header */
header {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 5px;
}
  
  /* styles the header text */
#intown {
  font-family: 'Neucha', cursive;
  margin-bottom: 0;
  color: white;
}
  
  /* styles containers holding body content */
.container {
  height: 100%;
}
  
  /* styles description text in left cell */
#tagline {
  color: white;
  width: 80%;
  margin: 45px auto 35px auto;
  padding: 15px;
  padding-top: 3.5em;
  font-size: 1.75rem;
  line-height: 1.4;
  text-align: center;
}
  
  /* styles Search div in right cell */
#searchbox {
  background-color: white;
  padding: 25px;
  width: 80%;
  margin: 10px auto;
}
  
  /* styles "Start Exploring" text */
#start-exploring {
  font-family: 'Neucha', cursive;
  margin-bottom: 10px;
}
  
  /* styles "Select a Neighborhood:" text */
#select-neighborhood {
  font-size: 1rem;
  margin-bottom: 1rem;
}
  
  /* styles neighborhood select menu */
select {
  width: auto;
}
  
  /* styles search button */
#submit-btn {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  color: white;
  background-color: gray;
  border: 1px solid grey;
} #submit-btn:hover {
  color: black;
  background-color: white;
}
}